---
//import heroImage from '/public/images/rr_about_image.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/images/rr_about_image.jpg"
>
	<p>
		Hi, I am Ramin, and I created this website as my portfolio and my blog. I am from Azerbaijan and I am currently living in Ankara, Türkiye. 
		I like road cycling, swimming and yoga.
		
	</p>
	<p>
		You can reach me via: 
		<a 
            href="mailto:ramin.rasulzade@gmail.com" 
            class="inline-block font-semibold text-zinc-900 transition-all duration-200 ease-out hover:text-blue-600 hover:scale-105"
        >
            ramin.rasulzade@gmail.com
        </a>
		
	</p>
	<p>
		I am a Technical Artist specializing in Unity and Unreal Engine game development. 
		My skills are in asset pipeline creation, creating custom VFX, shaders  and game optimization. 
		I also do some light 3D Modeling, Animation and Rigging if the need arises. 
		I worked on mainly mobile games and VR experiences. I also dabbled in some desktop games.
	</p>
	<p>
		I use C# and Python as programming languages. Tools I use to do my job as a Tech Artist are: 
		Blender, 3dsMax, Maya, Substance Designer and Painter, Adobe Photoshop, Illustrator, After Effects, Premiere Pro, Unity, Unreal Engine.
	</p>
	<p>
		I created this website with a lot of help from Google Gemini. I do not have any experience in web design or development. But written words are mine.
	</p>
</Layout>
